.transaction_history {
    margin-top: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 200px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #838383;
    font-weight: 400;
}

.view_all {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    background: linear-gradient(112.6deg, #F9D16B 9.32%, #FAFDA6 86.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    position: relative;
}

.view_all::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(112.6deg, #F9D16B 9.32%, #FAFDA6 86.61%);
    transform: scaleY(1.5);
    transform-origin: bottom;
}

.transaction_group {
    margin-bottom: 16px;
}

.date {
    font-size: 1rem;
    color: #b3b3b3;
    margin-bottom: 8px;
}

.transaction_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 8px;
    border-bottom: 1px solid #F2F2F7;
    width: 100%;
    box-sizing: border-box;
}

.transaction_icon {
    width: 40px;
    height: 40px;
}

.transaction_info {
    flex-grow: 1;
    margin-left: 12px;
}

.type {
    display: block;
    font-size: 1rem;
    color: #fff;
}

.currency {
    display: block;
    font-size: 0.875rem;
    color: #F6FF00;
}

.amount {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #00B749;
} 