.mainPanel{
    background: #241C22;
    position: relative;
    min-height: calc(100svh + 149px);
    margin-top: 20px;
    border-radius: 50px 50px 0 0;
    padding: 0 16px;
    z-index: -1;
    box-shadow: 0 -2px 0 0 #D02EF9, 0 -16px 30px 8px #D21EFF4D;
}
