.settings__container{
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    padding: 16px;
    top: 0;
    left: 0;
    background: #000000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.settings__container.active{
    display: flex;
}
.settings__container__back{
    display: flex;
    background: #00000000;
    border: 0;
}
.settings__container__titlePanel{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: start;
    width: 100%;
}
.settings__container__titlePanel svg{
    z-index: 101;
    height: 30px;
}
.settings__container__title{
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.settings__container__settingBlock{
    margin: 26px 0 120px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
}