/* ButtonWallet.module.css */

.button_wallet {
    position: absolute;
    left: 33px; 
    bottom: 15%;
    background: transparent;
    background-image: url(../../images/wallet.png);
    background-size: cover;
    background-position: center; 
    border: none;
    width: 40px;
    height: 42px;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    transition: transform 0.125s ease-in-out;
}

.button_wallet:focus, .button_wallet:active {
    outline: none; 
}

.test {
    color: white;
    font-size: 18px; 
}

.ton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0098EA; 
    color: #FFFFFF;
    padding: 8px 16px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 100vh;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    transition: transform 0.125s ease-in-out;
}
.unton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #410734; 
    color: #FFFFFF;
    padding: 8px 16px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 100vh;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    transition: transform 0.125s ease-in-out;
}

.ton:hover {
    background-color: #007bb5; 
}
